html {
    scroll-behavior: smooth;
} 
body {
    line-height: 1.5;
    background-color: rgb(161, 216, 227);
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin: 40px;
}
picture {
    width: 40%;
    height: auto;
}
p {
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: rgb(211, 103, 41);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    color: rgb(192, 233, 255);
    text-decoration: underline;
}

footer {
    color: rgb(0, 0, 0);
    text-align: justify;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    margin: 16px;
    padding-top: 10px;
}  
footer p  {
    font-family: cursive;
    font-size: 1em;
    margin: 4px;
}
footer p a:hover {
    color: rgb(50, 14, 255);
    text-decoration: underline;
    background-color: salmon;
}
/* id styling*/
#backgroundchange {
    background-color: rgb(171, 251, 248);
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
}
#top-nav {
    background-color: rgb(171, 251, 248);
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#top-nav a {
    margin-right: 15px;
}
#top-nav a:hover {
    color: rgb(193, 182, 255);
    text-decoration: underline;
}
#side-nav {
    float: left;
    background-color: rgb(171, 251, 248);
    padding: 10px;
    text-align: left;
    border-right: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-right: 8px;
    width: 150px;
}

#side-nav a {
    display: block;
    margin-bottom: 10px;
}
#side-nav a:hover {
    color: rgb(193, 182, 255);
    text-decoration: underline;
}


/* class styling */
.somepadding {
    padding: 16px;
}

/* Responsive Design */

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    picture {
        width: 30%;
        height: auto;
    }
    main {
        margin: 20px;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
}